* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  display: block;

  background: aliceblue;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
  margin-bottom: 30%;
}

p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 22px;
}
h1 {
  margin: 0 0 20px;
  text-align: center;
}
.team-logo {
  height: 35%;
  width: 35%;
  margin: auto;
}

img {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  height: 30vh;
  background: url(blackwave.jpg);
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
  display: block;
}

.icons {
  display: flex;
}
.icon1 {
  padding: 50px;
  color: aliceblue;
  display: block;
}
.icon1 svg {
  margin-left: 3em;
}
h4 {
  margin-right: 45px;
  padding-right: 45px;
}
.icon1 h4 {
  padding-left: 30px;
}

.icon2 {
  margin-left: 10px;
  padding: 50px;
  color: aliceblue;
  display: block;
}
.icon2 svg {
  margin-left: 45px;
}
.icon2 h4 {
  padding-left: 35px;
  margin-left: 10px;
}

.icon3 {
  margin-right: 20px;
  padding: 50px;
  color: aliceblue;
  display: block;
}
.icon3 svg {
  margin-left: 45px;
}
.icon3 h4 {
  padding-left: 54px;
}

.icon4 {
  margin-right: 50px;
  margin-bottom: 15px;
  padding: 50px;
  color: aliceblue;
  display: block;
}
.icon4 svg {
  margin-left: 45px;
}

.icon4 h4 {
  padding-left: 35px;
  margin-left: 10px;
}

.icons a {
  color: aliceblue;
  text-decoration: none;
}
.icons a:hover,
.icons a:active {
  color: #fa923f;
}
@media (min-width: 800px) {
  .team-logo {
    height: 25%;
    width: 25%;
  }
  .wrapper {
    margin-bottom: 22%;
  }
}
@media (max-width: 1200px) {
  section {
    background: none;
  }
  .icons {
    height: 10%;
    width: 10%;
    display: block;
  }
  .icon1 svg,
  .icon2 svg,
  .icon3 svg,
  .icon4 svg {
    height: 3em;
    width: 3em;
    margin-right: 0px;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    padding: 15px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .icon1 svg {
    margin-left: 650%;
  }
  .icon2 svg {
    margin-left: 650%;
  }
  .icon3 svg {
    margin-left: 650%;
  }
  .icon4 svg {
    margin-left: 650%;
  }
  .icon1 h4 {
    margin-left: 570%;
  }
  .icon2 h4 {
    margin-left: 570%;
  }
  .icon3 h4 {
    margin-left: 570%;
  }
  .icon4 h4 {
    margin-left: 600%;
  }
}
@media (min-width: 1201px) {
  .wrapper {
    margin-bottom: 18%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    margin-bottom: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .icons {
    height: 10%;
    width: 10%;
    display: block;
  }

  .icons h4 {
    display: flex;
  }
  .icon1 h4 {
    margin-left: 70px;
  }
  .icon2 h4 {
    margin-left: 60px;
  }
  .icon3 h4 {
    margin-left: 60px;
  }
  .icon4 h4 {
    margin-left: 70px;
  }

  .icon1 svg,
  .icon2 svg,
  .icon3 svg,
  .icon4 svg {
    height: 3em;
    width: 3em;
    margin-right: 0px;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    padding: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .icon1 svg {
    margin-left: 125px;
  }
  .icon2 svg {
    margin-left: 120px;
  }
  .icon3 svg {
    margin-left: 120px;
  }
  .icon4 svg {
    margin-left: 112px;
  }
  section {
    height: 30%;
    width: 100%;
    background: none;
  }
  section .wave:after,
  .wave:before {
    background: none;
    display: none;
  }
  p {
    padding: 10px;
  }
}
