//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Login Main Container
.login {
  width: 27em;
  height: 54em;
  //min-height: 44em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70rem;
  margin-bottom: 10rem;
  position: relative;
  z-index: 2;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    box-shadow: 0px 0px 12px 2px rgba(138, 60, 240, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

@media (max-width: 700px) {
  .login {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 20em;
    height: 40em;

    .container {
      justify-content: center;
      align-items: center;
    }
    .right-side {
      padding-left: 5em;
      width: 50%;
      align-items: center;
      top: 10em;
      left: 12%;
      &.rigth {
        right: 0%;
        align-items: center;
        justify-content: center;
        &:hover {
          right: 0%;
        }
      }
      &.left {
        right: 0%;
        align-items: center;
        justify-content: center;
        &:hover {
          right: 0%;
        }
      }
    }
    .text {
      margin-top: 20em;
      padding-right: 0.3em;
    }
  }
}
.btn {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 36px;
  color: aliceblue;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(270deg, #000046, #1cb5e0);
  z-index: 1;
}

button.btn:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

button.btn:before {
  content: "";
  position: absolute;
  top: -5px;
  color: aliceblue;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(270deg, #000046, #1cb5e0);
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
}
button.btn:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
@media (max-width: 360px) {
  .login {
    margin-top: 8rem;
  }
}
